In [3]:
import os
import pandas as pd
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
os.chdir('C:/Users/Lenovo/Desktop/Coisas para resolver antes das ferias/machine_learning')

In [4]:
base = pd.read_csv('Titanic.csv')

In [5]:
#### Vendo se tem valor null
base.loc[pd.isnull(base['Age'])]

                              Name PClass  Age     Sex  Survived
12    Aubert, Mrs Leontine Pauline    1st  NaN  female         1
13        Barkworth, Mr Algernon H    1st  NaN    male         1
14              Baumann, Mr John D    1st  NaN    male         0
29         Borebank, Mr John James    1st  NaN    male         0
32              Bradley, Mr George    1st  NaN    male         1
...                            ...    ...  ...     ...       ...
1300         Wiseman, Mr Phillippe    3rd  NaN    male         0
1302             Yalsevac, Mr Ivan    3rd  NaN    male         1
1305            Youssef, Mr Gerios    3rd  NaN    male         0
1306           Zabour, Miss Hileni    3rd  NaN  female         0
1307           Zabour, Miss Tamini    3rd  NaN  female         0

[557 rows x 5 columns]

In [6]:
## Preenchendo os valores faltantes. Usamos o imputer do sklearn, que é um
#algorítmo que faz o input baseado em algum parâmetro dos dados
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values = np.nan, strategy= 'mean')
nova_idade = base['Age'].values
nova_idade = nova_idade.reshape(-1, 1)
nova_idade = imp.fit_transform(nova_idade)
base['Age'] = nova_idade

In [7]:
#Preenchendo valores faoltantes de PClass
imp2 = SimpleImputer(missing_values = np.nan, strategy ='most_frequent')
novo_pclass = base['PClass'].values
novo_pclass = novo_pclass.reshape(-1,1)
novo_pclass = imp2.fit_transform(novo_pclass)
base['PClass'] = novo_pclass

In [9]:
#Transformando a variavel idade em categórica
base['Age'] = pd.cut(base['Age'], 22, labels = ['aefa', 'aefefefe', 'efefe', 'grgr', 'grgrisi', 'rgr', 'hyhy4', 's5gs', 'srgsa', 'af3fa', 'funf', 'funeheg', 'um', 'dois', 'tres', 'quatro', 'cinco', 'e', 'a', 'd', 'f', 'hh'])

In [10]:
base

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,srgsa,female,1
1,"Allison, Miss Helen Loraine",1st,aefa,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,af3fa,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,s5gs,female,0
4,"Allison, Master Hudson Trevor",1st,aefa,male,1
...,...,...,...,...,...
1308,"Zakarian, Mr Artun",3rd,srgsa,male,0
1309,"Zakarian, Mr Maprieder",3rd,srgsa,male,0
1310,"Zenni, Mr Philip",3rd,hyhy4,male,0
1311,"Lievens, Mr Rene",3rd,s5gs,male,0
1312,"Zimmerman, Leo",3rd,srgsa,male,0

In [11]:
#Transformando variaveis categoricas em 0 e 1
previsores = base.iloc[:,1:4].values
classe = base.iloc[:,4].values

labelencoder_previsores = LabelEncoder()
previsores[:,2] = labelencoder_previsores.fit_transform(previsores[:,2])
previsores[:,1] = labelencoder_previsores.fit_transform(previsores[:,1])
previsores[:,0] = labelencoder_previsores.fit_transform(previsores[:,0])

In [13]:
#Separando o banco de dados em treino e teste
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(previsores, classe, test_size=0.3, random_state = 109)

In [14]:
#Criando o modelo
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

#Alimentando o modelo com previsores e classe de treino
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [15]:
from sklearn import metrics

In [16]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7639593908629442

In [17]:
#Testando a acurácia sem a biblioteca
verificando = []
for i in range(len(y_pred)):
    oi = y_pred[i] == y_test[i]
    if oi == True:
        verificando.append(oi)
len(verificando)/len(y_pred)

0.7639593908629442